<template>
    <div class="wrapper">
        <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1">Processing Center</el-menu-item>
            <el-submenu index="2">
                <template slot="title">Workspace</template>
                <el-menu-item index="2-1">item one</el-menu-item>
                <el-menu-item index="2-2">item two</el-menu-item>
                <el-menu-item index="2-3">item three</el-menu-item>
            </el-submenu>
            <el-menu-item index="3"><a href="https://www.ele.me" target="_blank">Orders</a></el-menu-item>
        </el-menu>
        <el-row>
            <menu class="el-col el-col-4">
                <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>Navigator One</template>
                        <el-menu-item-group title="Group One">
                            <el-menu-item index="1-1">item one</el-menu-item>
                            <el-menu-item index="1-2">item one</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="Group Two">
                            <el-menu-item index="1-3">item three</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="1-4">
                            <template slot="title">item four</template>
                            <el-menu-item index="1-4-1">item one</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="2"><i class="el-icon-menu"></i>Navigator Two</el-menu-item>
                    <el-menu-item index="3"><i class="el-icon-setting"></i>Navigator Three</el-menu-item>
                </el-menu>
            </menu>
            <div class="content el-col el-col-20">
                <el-tabs type="border-card">
                    <el-tab-pane :label="'Новые (' + tableData.length + ')'">
                        <el-table
                                :data="tableData"
                                style="width: 100%">
                            <el-table-column
                                    prop="date"
                                    label="Date"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="Name"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    prop="address"
                                    label="Address">
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                    <el-tab-pane label="В обработке">Пока ничего не обрабатывать :(</el-tab-pane>
                    <el-tab-pane label="Выполненые">Пока ничего не выполнили :(</el-tab-pane>
                    <el-tab-pane label="Отмененные">Пока ничего не отменили :)</el-tab-pane>
                </el-tabs>
            </div>
        </el-row>
    </div>
</template>

<script>
  export default {
    layout: 'admin',
    data () {
      return {
        tableData: [{
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }, {
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles'
        }]
      }
    }
  }
</script>

<style lang="stylus">
    .content
        padding 20px
</style>
