<template>
    <header>
        <modal v-if="modals.signIn && !$store.state.user.authUser" @close="modals.signIn = false">
            <form @submit.prevent="auth">
                <div class="tabs">
                    <div class="item active" @click="changeTab('signIn')">Авторизация</div>
                    <div class="item" @click="changeTab('signUp')">Регистрация</div>
                    <div class="item" @click="changeTab('forgot')">Восстановить</div>
                </div>
                <input type="text" v-model="login" placeholder="Логин">
                <input type="password" v-model="password" placeholder="Пароль">
                <button type="submit">Войти</button>
            </form>
        </modal>
        <modal v-if="modals.signUp && !$store.state.user.authUser" @close="modals.signUp = false">
            <form @submit.prevent="auth">
                <div class="tabs">
                    <div class="item" @click="changeTab('signIn')">Авторизация</div>
                    <div class="item active" @click="changeTab('signUp')">Регистрация</div>
                    <div class="item" @click="changeTab('forgot')">Восстановить</div>
                </div>
                <input type="text" v-model="login" placeholder="Логин">
                <input type="text" v-model="login" placeholder="Email">
                <input type="password" v-model="password" placeholder="Пароль">
                <input type="password" v-model="password" placeholder="Повторите пароль">
                <button type="submit">Зарегистрироваться</button>
            </form>
        </modal>
        <modal v-if="modals.forgot && !$store.state.user.authUser" @close="modals.forgot = false">
            <form @submit.prevent="auth">
                <div class="tabs">
                    <div class="item" @click="changeTab('signIn')">Авторизация</div>
                    <div class="item" @click="changeTab('signUp')">Регистрация</div>
                    <div class="item active" @click="changeTab('forgot')">Восстановить</div>
                </div>
                <input type="text" v-model="login" placeholder="Email">
                <button type="submit">Восстановить</button>
            </form>
        </modal>
        <div class="admin-line" v-if="$store.state.user.authUser.role === 'admin'">
            <div class="container">
                <a href="/admin" class="link-go">Панель управления</a>
            </div>
        </div>
        <div class="upper-line">
            <menu class="links">
                <li v-for="item in upperLinks">
                    <nuxt-link :to=item.link>{{ item.name }}</nuxt-link>
                </li>
            </menu>
            <div class="actions">
                <div v-if="$store.state.user.authUser" class="item user">
                    <span class="icon-user"></span>
                    {{ $store.state.user.authUser.login }}
                    <div class="list">
                        <div class="obj">Мои заказы</div>
                        <div class="obj" @click="logout(); modals.signIn = false"><strong>Выйти</strong></div>
                    </div>
                </div>
                <div class="item user" v-else @click="modals.signIn = true">
                    <span class="icon-lock"></span>
                    Войти
                </div>
                <div class="item sex">
                    {{ sex[$store.state.sex] }}
                    <span class="icon-family"></span>
                    <div class="list">
                        <div class="obj" @click="$store.commit('SET_SEX', index)" v-for="(item, index) in sex" v-if="$store.state.sex != index">{{ item }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-line">
            <div class="container">
                <menu class="menu">
                    <li v-for="value in $store.state.categories">
                        <nuxt-link :to='value.link'>{{ value.name }}</nuxt-link>
                    </li>
                </menu>
                <nuxt-link to="/" class="logotype">
                <span class="icon-octagon">
                    <img src="~assets/images/logotype.png" alt="">
                </span>
                </nuxt-link>
                <div class="functions">
                    <nuxt-link to="/cart" class="cart">
                        <span class="count">{{ $store.state.cart.length }}</span>
                        <span class="icon-cart"></span>
                    </nuxt-link>
                    <nuxt-link to="/favorites" class="favorites" v-if="$store.state.user.authUser"><span class="icon-heart"></span></nuxt-link>
                    <div class="search" @click.self="searchActive = !searchActive" v-bind:class="{ active : searchActive }">
                        <span class="icon-search" @click.self="searchActive = !searchActive"></span>
                        <div class="input">
                            <input type="text" placeholder="Поиск...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
  import modal from '~components/modal'
  export default {
    components: {
      modal
    },
    data () {
      return {
        login: '',
        password: '',
        modals: {
          signUp: false,
          signIn: false,
          forgot: false
        },
        upperLinks: [
          {
            link: 'l1',
            name: 'Как заказать'
          },
          {
            link: 'l2',
            name: 'Оплата'
          },
          {
            link: 'l3',
            name: 'Доставка'
          },
          {
            link: 'l4',
            name: 'Контакты'
          }
        ],
        sex: [
          'Мужские',
          'Женские',
          'Детские'
        ],
        searchActive: false
      }
    },
    methods: {
      changeTab (tab) {
        for (let item in this.modals) {
          this.modals[item] = false
        }
        this.modals[tab] = true
      },
      logout () {
        this.$store.dispatch('user/logout')
      },
      auth () {
        this.$store.dispatch('user/auth', {
          login: this.login,
          password: this.password
        })
      }
    },
    computed: {}
  }
</script>

<style scoped lang="stylus">
    header
        position relative

    .container
        max-width 1240px
        margin 0 auto
        height 100%

    form
        .tabs
            position absolute
            left 0
            top -40px
            width 100%
            display flex
            border-bottom 2px solid #2e2e2e
            .item
                width 33.33%
                text-align center
                font 14px / 40px Roboto Condensed
                background #ddd
                color #2e2e2e
                transition .1s
                cursor pointer
                &:hover
                    background #fed700
                &.active
                    font-weight bold
                    background #2e2e2e
                    color #fff
                    cursor default

        input
            padding 0 10px
            text-align center
            height 40px
            width 100%
            background #fff
            font 14px / 40px Roboto Condensed
            &:not(:last-of-type)
                border-bottom 2px solid #ddd
        button
            position absolute
            left 0
            bottom -50px
            width 100%
            background #fed700
            color #2e2e2e
            border none
            height 50px
            outline none
            cursor pointer
            font bold 16px / 50px Roboto Condensed
            text-transform uppercase
            transition .1s
            &:hover
                background #df3737
                color #fff

    .admin-line
        height 30px
        background #ddd
        .container
            display flex
            align-items center
        .link-go
            height 30px
            padding 0 25px
            line-height 30px
            transition .1s
            &:hover
                background #2e2e2e
                color #fff

    .upper-line
        display flex
        justify-content space-between
        align-items center
        max-width 1240px
        margin 0 auto
        height 40px
        .links
            display flex
            list-style none
            margin-left 20px
            li
                height 14px
            a
                padding 1px 5px 2px
                color currentColor
                transition .1s
                margin-right 15px
                border-radius 2px
                &:hover
                    background #fed700
                &.active
                    background #df3737
                    color #fff
        .actions
            display flex
            font bold 14px / 18px Roboto Condensed
            align-items center
            height 40px
            [class^="icon-"]
                font-size 18px
            .icon-family
                margin-left 10px
            .icon-user
            .icon-lock
                margin-right 10px
            .item
                padding 0 25px
                display flex
                align-items center
                height 100%
                position relative
                transition .1s
                .list
                    position absolute
                    left 0
                    top 40px
                    width 100%
                    background #fed700
                    z-index 3
                    flex-direction column
                    display none
                    .obj
                        font bold 12px / 32px Roboto Condensed
                        text-align center
                        height 32px
                        cursor pointer
                        &:hover
                            background #df3737
                            color #fff
                &.user
                    cursor pointer
                    &:before
                        content ''
                        position absolute
                        right -1px
                        top 0
                        width 2px
                        height 100%
                        background #ddd
                &:hover
                    background #fed700
                    .list
                        display flex
                &.active
                    background #df3737
            &:hover
                .item.user:before
                    opacity 0
                    transition .1s

    .main-line
        height 64px
        color #fff
        background #2e2e2e
        .container
            display flex
            justify-content space-between
            align-items center

    .logotype
        font bold 30px / 100% Roboto Condensed
        text-transform uppercase
        color #fed700
        transition 1s
        position relative
        .icon-octagon
            font-size 90px
            img
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)

    .menu
        display flex
        align-items center
        list-style none
        width 40%
        margin-top 5px
        padding-left 25px
        a
            font bold 18px / 100% Bebas Neue
            color currentColor
            margin-right 40px
            position relative
            transition .1s
            &:hover
                color #fed700
            &.active
                color #df3737
                &:before
                    content ''
                    position absolute
                    left 0
                    bottom -3px
                    width 100%
                    height 3px
                    background #df3737

    .functions
        display flex
        width 40%
        justify-content flex-end
        align-items center
        height 100%
        position relative

    .favorites
        padding 0 25px
        color currentColor
        transition .1s
        align-items center
        display flex
        height 100%
        .icon-heart
            font-size 20px
        &:hover
            color #2e2e2e
            background #fed700
        &.active
            color #fff
            background #df3737

    .search
        color currentColor
        position relative
        transition .1
        cursor pointer
        display flex
        height 100%
        align-items center
        padding 0 25px
        z-index 2
        &:hover
            background #fed700
            .icon-search
                color #2e2e2e
        &.active
            position absolute
            right 0
            top 0
            background #df3737
            .icon-search
                color #fff
            .input
                display block
        .icon-search
            font-size 20px
            transition .1s
        .input
            position absolute
            right 70px
            top 0
            cursor default
            display none
            z-index 2
            height 100%
            padding-right 17px
            background #2e2e2e
            input
                padding 5px 10px
                height 30px
                width 200px
                background #fff
                margin 17px 0
                font 14px / 30px Roboto Condensed

    .cart
        padding 0 25px
        color currentColor
        font bold 16px / 24px Roboto Condensed
        display flex
        position relative
        height 100%
        align-items center
        .count
            position absolute
            left 36px
            top 32px
            width 20px
            height 20px
            color #2e2e2e
            background #fed700
            border-radius 100%
            text-align center
            font bold 12px / 20px Roboto Condensed
            transition .1s
        .icon-cart
            font-size 20px
            transition .1s
        &:hover
            color #2e2e2e
            background #fed700
            .count
                color #fed700
                background #2e2e2e
        &.active
            color #fff
            background #df3737
            .count
                color #df3737
                background #fff
</style>
