<template>
    <transition name="modal">
        <div class="modal-mask" @click.self="$emit('close')">
            <div class="modal">
                <div class="close" @click="$emit('close')">Close</div>
                <slot></slot>
            </div>
        </div>
    </transition>
</template>

<script>
  export default {
    props: ['auth']
  }
</script>

<style lang="stylus">
    .modal-mask
        position: fixed
        z-index 9998
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(0, 0, 0, .75)
        display flex
        justify-content center
        align-items center
        transition opacity .3s ease

    .modal
        width 360px
        background #fff
        position relative
        padding 10px
        box-shadow 0 50px 50px rgba(#000, .5)
        .close
            position absolute
            right -20px
            top -20px


    .modal-enter
        opacity 0

    .modal-leave-active
        opacity 0

    .modal-enter .modal-container
    .modal-leave-active .modal-container
        transform scale(1.1)
</style>
