<template>
    <section class="products">
        <div class="item" v-for="item in products">
            <span class="availability">В наличии</span>
            <span class="favorite icon-heart"></span>
            <span class="cart" @click="addToCart(item.id)">В корзину</span>
            <nuxt-link to="" class="image"><img v-bind:src="'image-'+ item.id +'.jpg'" alt=""></nuxt-link>
            <nuxt-link to="about">
                <div class="name">Футболка MANTO Tokushu Regenesis Stealth Yellow</div>
                <div class="price">1 079 грн.</div>
            </nuxt-link>

        </div>
    </section>
</template>

<script>
  export default {
    props: ['products'],
    methods: {
      addToCart (id) {
        this.$store.commit('ADD_TO_CART', id)
      }
    }
  }
</script>

<style lang="stylus" scoped>
    .products
        display flex
        flex-wrap wrap
        max-width 1240px
        margin 0 auto 20px
        border-bottom 2px solid #ddd
        .item
            width 20%
            background #fbfbfb
            transition .1s
            position relative
            overflow hidden
            &:hover
                background rgba(#ddd, .5)
                .image
                    &:before
                        background rgba(#ddd, .5)
                .availability
                    transform translate(0, 0)
                .favorite
                .cart
                    opacity 1
        .image
            height 240px
            overflow hidden
            border 2px solid #ddd
            position relative
            display block
            &:before
                content ''
                position absolute
                left 0
                top 0
                width 100%
                height 100%
                border 2px solid #fff
                transition .1s
            img
                width 100%
        .availability
            position absolute
            left 10px
            top 10px
            font bold 12px / 100% Roboto Condensed
            color #73b24e
            z-index 2
            text-transform uppercase
            transition .25s
            background #fff
            padding 4px 8px
            transform translate(0, -50px)
        .favorite
            position absolute
            right 15px
            top 10px
            opacity 0
            cursor pointer
            font-size 18px
            z-index 2
            color #999
            transition .25s, color .1s
            &:hover
                color #2e2e2e
            &.active
                color #df3737
        .cart
            position absolute
            left 50%
            top 186px
            transform translate(-50%, 0)
            cursor pointer
            z-index 2
            padding 6px 12px
            font bold 14px / 100% Roboto Condensed
            text-transform uppercase
            border 2px solid #fff
            opacity 0
            transition opacity .25s, background .1s, color .1s
            background #df3737
            color #fff
            &:hover
                background #fed700
                color #2e2e2e
        .name
            padding 10px
            font bold 14px / 120% Roboto Condensed
            color #2e2e2e
        .price
            font bold 18px / 100% Roboto Condensed
            color #df3737
            padding-bottom 20px

</style>
