<template>
    <main>
        <menu class="products-type">
            <li v-for="item in productsType" v-bind:class="['item', {'active' : currentType === item.type}]" @click="changeproductsType(item.type)">{{
              item.name }}</li>
        </menu>
        <products :products="products"/>
        {{ $store.dispatch('categories') }}
    </main>
</template>

<script>
  import axios from '~plugins/axios'
  import products from '~components/products'

  export default {
    components: {
      products
    },
    async asyncData ({store}) {
      let {data} = await axios.get('getProducts', {
        params: {
          type: 'new'
        }
      })
      return {
        products: data
      }
    },
    data () {
      return {
        currentType: 'new',
        productsType: [
          {
            type: 'new',
            name: 'Новинки'
          },
          {
            type: 'popular',
            name: 'Популярное'
          },
          {
            type: 'stock',
            name: 'Акции'
          },
          {
            type: 'browsed',
            name: 'Просмотренные'
          }
        ]
      }
    },
    mounted () {

    },
    methods: {
      async changeproductsType (type) {
        if (this.currentType !== type) {
          let {data} = await this.$store.dispatch('product/getProducts', {
            type,
            products: (type === 'browsed') ? this.$store.state.product.viewedProducts.join() : 'all'
          })
          this.products = data
          this.currentType = type
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
    main
        text-align center

    .products-type
        display inline-flex
        font 16px / 100% Roboto Condensed
        text-transform uppercase
        color #ddd
        height 48px
        margin 15px auto 20px
        justify-content center
        align-items center
        border-bottom 4px solid #ddd
        padding 0 15px
        list-style none
        .item
            padding 0 30px
            cursor pointer
            transition .1s
            position relative
            &:hover
                color #999
            &.active
                cursor default
                color #2e2e2e
                &:before
                    content ''
                    width 0
                    height 0
                    border-style solid
                    border-width 0 5px 6px 5px
                    border-color transparent transparent #ddd transparent
                    position absolute
                    left 50%
                    bottom -14px
                    transform translate(-50%, 0)
</style>
