@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?hs5cdy');
    src:  url('../fonts/icomoon.eot?hs5cdy#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.ttf?hs5cdy') format('truetype'),
            url('../fonts/icomoon.woff?hs5cdy') format('woff'),
            url('../fonts/icomoon.svg?hs5cdy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e906";
}
.icon-octagon:before {
    content: "\e905";
}
.icon-heart:before {
    content: "\e902";
}
.icon-lock:before {
    content: "\e903";
}
.icon-family:before {
    content: "\e904";
}
.icon-cart:before {
    content: "\e900";
}
.icon-search:before {
    content: "\e901";
}

