@import "reset.styl"
@import "icons.styl"
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/BebasNeueBold.woff') format('woff'),
            url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*
    box-sizing border-box

html
    height 100%

body
    font 400 12px / 120% Roboto Condensed
    height 100%
    color #2e2e2e
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

a
    color currentColor

input
    border none
    outline none