<template>
    <div class="wrapper">
        <top/>
        <nuxt/>
        <footer></footer>
    </div>
</template>

<script>
  import top from '~components/header'

  export default {
    components: {
      top
    },
    mounted () {
      if (!localStorage.getItem('sex')) localStorage.setItem('sex', 0)
      this.$store.commit('SET_SEX', +localStorage.getItem('sex'))

      if (localStorage.getItem('cart')) this.$store.commit('ADD_TO_CART', localStorage.getItem('cart').split(',').map(Number))
    }
  }

</script>

<style lang="stylus">
    footer
        background #2e2e2e
        height 50px
        margin-top 20px

</style>
